<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/application.css">
     
    <title>IMS | Mentor</title>

    
</head>
<body>
        <div class="container box1 box2"style="font-family:Poppins;font-size: 18px;">
            <h2>Mentor Details:</h2><br>
            <%if (data.length) { data.forEach(function(data){%>
             
            <p><b>Name: </b><%= data.Name %></p>
            <p><b>Date of Birth: </b><%= data.DOB %></p>
            <p><b>Phone Number: </b><%= data.PhNo %></p>
            <p><b>Email: </b><%= data.Email %></p>
            <p><b>Date of Joining: </b><%= data.DOJ %></p>
            <p><b>Experience: </b>
                <%= data.Exp %></p>
            <p><b>Resume Link: </b><a href="<%//%><%= data.Link %>" target="_blank">Click here</a></p>
             
            <div>
                
                <%}) } else{%> <p>Deleted Succefully</p><%} %>
            </div>
        </div>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>